name: Build API specification

#TODO should be 'master' for collections
on:
  pull_request_target:
    branches:
      - "main"

env:
  FILE_NAME: "resources-api-with-changes.yaml"

jobs:
  check-for-uncommitted-changes:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
      - name: Check out repository to runner
        uses: actions/checkout@v4
      - name: Run compile and bundle script
        run: make build-api
      - name: Check for uncommitted changes
        id: check_changes
        run: |
          if git ls-files -m | grep $FILE_NAME; then
            echo "file_found=true" >> $GITHUB_ENV
            echo "File with uncommitted changes has been found."
            echo "Changes detected in: $FILE_NAME. File is not up to date."
          else
            echo "file_found=false" >> $GITHUB_ENV
            echo "File with uncommitted changes has not been found."
            echo "No changes in: $FILE_NAME. File is up to date."
          fi
        continue-on-error: true
      - name: File is found - FAIL
        if: env.file_found == 'true'
        run: |
          echo "API specification is not up-to-date. 
          *** Run API spec build script locally and commit the changes ***"
            echo "Please sync file: $FILE_NAME."
          exit 1
      - name: File is not found - SUCCESS
        if: env.file_found == 'false'
        run: echo "No uncommitted changes in file $FILE_NAME. You are awesome!"