name: check if API specification is up-to-date


on:
  pull_request_target:
    branches:
      - "main" #TODO should be 'master' for collections

env:
  FILE_NAME: "resources-api-docs.yaml"

jobs:
  compare-api-specifications:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
      - name: Check out repository to runner
        uses: actions/checkout@v4
      - name: Run compile and bundle script
        run: make build-api
      - name: Check for changes in API specification
        id: check_changes
        run: |
          if git ls-files -m | grep $FILE_NAME; then
            echo "file_found=true" >> $GITHUB_ENV
            echo "Changes detected in $FILE_NAME"
          else
            echo "file_found=false" >> $GITHUB_ENV
            echo "No changes detected in $FILE_NAME"
          fi
        continue-on-error: true
      - name: Fail if file is found (API specification is not up-to-date)
        if: env.file_found == 'true'
        run: |
          echo "API specification $FILE_NAME is not up-to-date. 
          *** Run api spec build script locally and commit the changes! ***"
          exit 1
      - name: Continue if file is not found (no changes in API specification)
        if: env.file_found == 'false'
        run: echo "No uncommitted changes in $FILE_NAME. You are awesome!"